<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<nav class="nav">
  <div class=" col columns-9 space-x-10 flex justify-center pt-8 pb-1 ">
    <img id="img1" class="flex justify-start" src="../assets/discord-logo-white.png" alt="">
    <a class="text-white" href=""><strong>Download</strong></a>
    <a class="text-white" href=""><strong>Nitro</strong></a>
    <a class="text-white" href=""><strong>Discover</strong></a>
    <a class="text-white" href=""><strong>Safety</strong></a>
    <a class="text-white" href=""><strong>Support</strong></a>
    <a class="text-white" href=""><strong>Blog</strong></a>
    <a class="text-white" href=""><strong>Careers</strong></a>
    <button class="bg-white pt-2 pb-2" id="button1">Open Discord</button>
    <img src="" alt="">
  </div>
</nav>

<div id="div1" class="flex items-center">
  <div id="divsisisis" class="col columns-3">
    <div>
      <img id="img2" class="mt-52" src="../assets/8a8375ab7908384e1fd6efe408284203.png" alt="">
    </div>

    <div>
      <h1 id="ache1" class="text-white text-6xl flex justify-center pt-32"><strong>IMAGINA UN LUGAR . . .
      </strong></h1>
        <p id="p2" class="text-white text-lg flex justify-center">
          ... en el que puedas formar parte de un club escolar, un grupo de jugadores o una comunidad
        </p>
        <p id="p2" class="text-white text-lg flex justify-center">
          mundial de arte. En el que puedas pasar tiempo con unos cuantos amigos. Un lugar que
        </p>
        <p id="p2" class="text-white text-lg flex justify-center">
          haga que hablar a diario y divertirte más a menudo sea fácil.
        </p>
        <div class="flex justify-center space-x-5 mt-10">
          <button id="dis1" class="bg-white"> <i class="fa-solid fa-download" style="color: #000000;"> </i> <strong>Descargar para Winddows</strong></button>
          <button id="dis2" class=" text-white"><strong>Abrir Discord en tu navegador</strong></button>
        </div>
    </div>
    <div class="ml-auto">
      <img  id="img3" class="" src="../assets/c40c84ca18d84633a9d86b4046a91437.png" alt="">
    </div>
  </div>
</div>


<div id="divhe" class="pb-32">
  <div class="col columns-2 space-x-36">
    <div>
        <img id="imga" class="pl-72 pt-32 " src="../assets/46b2132c01604c9493d558de444929f4 (1).png" alt="">
    </div>
    <div>
      <div class="pt-36 ">
        <h1 class="text-5xl pt-3"><strong>Crea un lugar </strong></h1>
        <h1 class="text-5xl pt-3 "><strong>solo para</strong></h1>
        <h1 class="text-5xl pt-3"><strong>miembros en el</strong></h1>
        <h1 class="text-5xl pt-3"><strong>que encajes</strong></h1>
        <p class="pt-7 pb-2">Los servidores de Discord se organizan en</p>
        <p class="pb-2">canales ordenados por temas donde puedes</p>
        <p class="pb-2">colaborar, compartir o simplemente hablar</p>
        <p class="pb-2">de tu día sin monopolizar un chat de grupo.</p>
      </div>
    </div>
  </div>
</div>

<div>
  <div id="div33" class="col columns-2 pb-32 ">
    <div id="dip" class="pt-44">
      <h1 class="text-5xl"><Strong>Donde es fácil</Strong></h1>
      <h1 class="text-5xl pb-7"><strong>pasar el rato</strong></h1>
      <p class="text-lg pb-2 ">Entra en un canal de voz cuando estés libre.</p>
      <p class="text-lg	pb-2">Los amigos que tengas en tu servidor podrán</p>
      <p class="text-lg	pb-2">ver que estás conectado y unirse al instante</p>
      <p class="text-lg	pb-2">para hablar sin necesidad de llamar.</p>
    </div>
    <div class="mr-20 pt-24">
        <img src="../assets/575a0322f3b36ca2fecb23ad2c6dd5ad.png" alt="">
    </div>
  </div>
</div>


<div>
  <div class="col columns-2 space-x-36  pb-32">
    <div>
      <img class="pl-64 pt-24" src="../assets/WAZA.png" alt="">
    </div>

    <div class="pt-24">
      <h1 class="text-5xl pt-3"><strong>De unos pocos</strong></h1>
      <h1 class="text-5xl pt-3 pb-7"><strong>fans a un montón</strong></h1>
      <p class="text-lg	pb-2">Establece cualquier comunidad con las</p>
      <p class="text-lg	pb-2">Herramientas de mmoderacón y el acceso</p>
      <p class="text-lg	pb-2">personalizado de miembros. Concédeles</p>
      <p class="text-lg	pb-2">poderes especiales, crea canales privados y</p>
      <p class="text-lg	 pb-2">mucho más</p>
    </div>
  </div>
</div>
<div id="holaq" class="pt-32">
<div class="divfinal11">
  <h1 id="divfinal11" class=" flex justify-center text-5xl"><strong>UNA TECNOLOGÍA FIABLE PARA</strong></h1>
</div>
<div id="divfinal11" class=" flex justify-center text-5xl ">
  <h1><strong>  MANTENERSE EN CONTACTO </strong></h1>
</div>
<div id="holas" class="">
<p class="pb-2 text-lg pt-7	">Gracias a la voz y el vídeo de baja latencia, parece que estáis en la misma habitación. Saluda a la cámara, accede a</p>
<p>las transmisiones de los juegos de tus amigos o reuníos y disfrutad de una sesión de dibujo compartiendo la</p>
<p id="se" class="text-lg	">pantalla.</p>
</div>
<div class="flex justify-center">
  <img src="../assets/XDD.png" alt="">
</div>
<div style="background-image: url('../assets/brilitos.png'); background-size: cover; background-position: center; width: fit-content; margin: 0 auto; text-align: center;">
  <h1 id="XDDD" class="text-2xl pl-4"><strong>¿Todo listo para comenzar tu viaje?</strong></h1>
</div>
<div>
  <button id="dis11" class=" text-white"> <i class="fa-solid fa-download" style="color: #f1f1f1;"> </i> <strong>Descargar para Winddows</strong></button>
</div>
</div>


<footer id="footer">
  <div class="bg-gray-800 text-white py-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 container mx-auto px-4">
        <div class="mb-4 md:mb-0">
            <h1 class="text-xl font-bold">Producto</h1>
            <a href="">Descargar</a>
            <a href="">Nitro</a>
            <a href="">Estado</a>
        </div>

        <div class="mb-4 md:mb-0">
            <h1 class="text-xl font-bold">Compañía</h1>
            <a href="">Sobre nosotros</a>
            <a href="">Trabajos</a>
            <a href="">Marca</a>
            <a href="">Noticias</a>
        </div>

        <div class="mb-4 md:mb-0">
            <h1 class="text-xl font-bold">Recursos</h1>
            <a href="">Universidad</a>
            <a href="">Soporte técnico</a>
            <a href="">Seguridad</a>
            <a href="">Blog</a>
            <a href="">Opiniones</a>
            <a href="">Build</a>
            <a href="">StreamKid</a>
            <a href="">Creators</a>
            <a href="">Community</a>
            <a href="">Official 3rd Party Merch</a>
        </div>

        <div class="mb-4 md:mb-0">
            <h1 class="text-xl font-bold">Políticas</h1>
            <a href="">Condiciones</a>
            <a href="">Privacidad</a>
            <a href="">Ajustes de cookies</a>
            <a href="">Directivas</a>
            <a href="">Agradecimientos</a>
            <a href="">Licencias</a>
            <a href="">Moderación</a>
            <a href="">Informacion de la empresa</a>
        </div>
    </div>
</div>



<div class="space-x-5">
  <i class="fa-brands fa-twitter" style="color: #ffffff;"></i><i class="fa-brands fa-instagram" style="color: #ffffff;"></i><i class="fa-brands fa-facebook" style="color: #ffffff;"></i><i class="fa-brands fa-youtube" style="color: #ffffff;"></i><i class="fa-brands fa-tiktok" style="color: #ffffff;"></i>
</div>

</footer>
</body>
</html>
